/* Changer la couleur de fond */
body {
    background-color: #FFF8E6;
}

/* Arrondir les bords de l'image, réduire la taille et la centrer */
img {
    border-radius: 10px;
    width: 200px; /* Ajuste la taille de l'image */
    display: block;
    margin: 0 auto;
}

/* Style du bouton et du label (remplaçant l'input file) */
button {
    padding: 10px 20px;
    background-color: #926B55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Assure que le label prend bien toute la zone */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
}

/* Changer la couleur du bouton et du label au survol */
button:hover{
    background-color: #87945e;
}

/* Masquer l'input file natif */
#file-input {
    display: none;
}

/* Styliser le conteneur du label pour ressembler au bouton */
.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Style des boutons de navigation */
.nav-btn {
    background-color: #fff;
    border: 2px solid #94A267;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav {
    display: flex;
    gap: 10px; /* Ajuste l'espace entre les boutons */
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.nav-btn img {
    max-width: 400%;
    max-height: 400%;
}

.nav-btn:hover {
    background-color: #94A267;
    border-color: #94A267;
}

.nav-btn:focus {
    outline: none;
}

.back-button {
    background-color: #94A267;
    border: 2px solid #94A267;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

