/* Styles pour centrer le formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Prend toute la hauteur de l'écran */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}
