/* Titre principal */
.header-title {
  text-align: center;
  margin-bottom: 30px;
}

/* Cartes d'articles */
.article-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.article-content {
  padding: 20px;
}

.article-title {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 15px;
}

.article-preview {
  font-size: 1.1rem;
  margin: 0px 20px 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.voir-plus {
  display: inline-block;
  background-color: #94a267;
  color: #fff;
  padding: 12px 24px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.voir-plus:hover {
  background-color: #7d8a55;
}

/* Responsivité pour tablettes */
@media screen and (min-width: 768px) {
  .article-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

/* Responsivité pour grands écrans */
@media screen and (min-width: 1024px) {
  .article-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Message si aucune information n'est disponible */
.no-info-message {
  text-align: center;
  padding: 40px 20px;
  font-size: 1.2rem;
}

.no-info-message a {
  color: #94a267;
  text-decoration: underline;
}

/* Barre de navigation inférieure */
.group-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.group-8 {
  display: flex;
  gap: 30px;
}

.group-8 img {
  width: 45px;
  height: 45px;
}

/* Bouton retour */
.back-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #94a267;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}

.back-button:hover {
  background-color: #828e59;
}