body {
  min-height: 100vh; /* Définit la hauteur minimale à 100% de la fenêtre */
  margin-top: 10px;
}

/* En-tête principal */
.main-header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

/* Titre bien centré */
.page-title {
  font-family: "DynaPuff", cursive;
  font-size: 22px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.back-button {
  color: white;
  position: absolute;
  left: 1%;
  background-color: #94a267;
  width: 50px;            /* Largeur du bouton */
  height: 50px;           /* Hauteur du bouton */
  border: none;           /* Supprime les bordures */
  border-radius: 50%;     /* Forme ronde */
  text-align: center;     /* Centrage du texte */
  display: flex;          /* Utilisation de Flexbox pour centrer */
  align-items: center;    /* Alignement vertical */
  justify-content: center;/* Alignement horizontal */
  cursor: pointer;       /* Pointeur de souris pour indiquer que c'est cliquable */
  transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

/* Bouton profil (à droite) */
.settings-button {
  position: absolute;
  right: 1%;
  background-color: #94a267;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Taille des icônes des boutons */
.settings-button img {
  width: 40px;
  height: 40px;
}

.container {
  margin-top: 30px;
  width: 95%;
}

.tab-bar {
  padding-bottom: 20px;
}

.group-3 a,
.group-4 a {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #1e1e2d;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}

/* Séparateurs (lignes) */
.vector {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 15px 0;
}

/* Barre de navigation inférieure */
.group-wrapper {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.group-8 {
  display: flex;
  gap: 20px;
}

.group-8 img {
  width: 40px;
  height: 40px;
}

/* Bouton Modifier le Profil */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #94a267;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #828e59;
}


/* Responsive - Mobile */
@media (max-width: 480px) {
  .container {
    width: 95%;
    max-width: 350px;
    padding-bottom: 15px;
  }



  .group-3 a,
  .group-4 a {
    font-size: 13px;
    padding: 8px;
  }

  .arrow-down {
    width: 30px;
    height: 30px;
  }
}
