
/* Styles généraux pour le conteneur */
.container {
  width: 100%;  /* Occupe toute la largeur de la page */
  max-width: 1200px; /* Limite la largeur maximale pour ne pas trop étirer */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  padding: 0 20px; /* Ajoute de l'espace à gauche et à droite */
  box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
}

/* Styles pour le fond vert des sections de progression */
.progress-section {
  background-color: #94A267; /* Fond vert */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.progress-section h3 {
  margin: 0;
  color: white;
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 5px 0;
  overflow: hidden;
  box-sizing: border-box;
}

.progress-bar {
  height: 100%;
  background-color: #926B55;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
  border: 2px solid white;
  box-sizing: border-box;
}

.score {
  color: white;
}

.hours {
  color: white;
  font-size: 18px;
}

/* Styles pour le header principal */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-title {
  font-size: 32px;
  color: #333;
}

/* Styles pour les autres sections */
.user-info {
  margin-top: 30px;
}

.navigation {
  margin-top: 30px;
}
.back-button {

color: white;
position: absolute;
left: 1%;
background-color: #94a267;
width: 50px; /* Largeur du bouton */
height: 50px; /* Hauteur du bouton */
border: none; /* Supprime les bordures */
border-radius: 50%; /* Forme ronde */
text-align: center; /* Centrage du texte */
display: flex; /* Utilisation de Flexbox pour centrer */
align-items: center; /* Alignement vertical */
justify-content: center;/* Alignement horizontal */
cursor: pointer; /* Pointeur de souris pour indiquer que c'est cliquable */
transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

.back-button img {
width: 30px;
height: 30px;
}

/* Barre de navigation inférieure */
.group-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  box-sizing: border-box; /* Ajouté */
}

.group-8 {
  display: flex;
  gap: 30px;
}

.group-8 img {
  width: 45px;
  height: 45px;
}