/* Style du bouton avec <a> */
.bouton_rescanner {
    display: inline-block;  /* Permet d'ajouter du padding et centrer */
    padding: 10px 20px;
    border: 2px solid #94A267;
    border-radius: 20px; /* Corrigé pour appliquer l’arrondi */
    background-color: #94A267;
    color: white;
    text-decoration: none; /* Supprime le soulignement */
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 15px ;
}

/* Effet au survol */
.bouton_rescanner:hover {
    background-color: #7a854e;
    border-color: #7a854e;
}
