<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/images/bac1.css" />
  </head>
  <body>
    <div class="bac">
      <div class="div">
        <div class="frame"></div>
        <div class="overlap">
          <div class="text-wrapper">Humidité</div>
          <div class="text-wrapper-2">Arrosage</div>
          <div class="text-wrapper-3">Température</div>
          <div class="text-wrapper-4">55%</div>
          <div class="text-wrapper-5">18 - 24 C</div>
          <img class="droplet" src="img/droplet-3.svg" />
          <img class="img" src="img/droplet-4.svg" />
          <img class="droplet-fill" src="img/droplet-fill-2.svg" />
          <div class="overlap-group">
            <p class="p">
              La tomate est une plante facile à cultiver dans un potager, appréciant les sols riches et bien
              ensoleillés.
            </p>
            <div class="group">
              <div class="rectangle"></div>
              <img class="vector" src="img/vector-2.svg" />
            </div>
          </div>
        </div>
        <div class="text-wrapper-6">Bac 1</div>
        <div class="text-wrapper-7">Tomate</div>
        <p class="ce-mode-permet-un">
          Ce mode permet un arrosage automatique en cas d&#39;absence et s&#39;adapte aux besoins des plantes présentes
          dans le bac.
        </p>
        <div class="text-wrapper-8">Arrosage automatique</div>
        <div class="frame-2"></div>
        <div class="text-wrapper-9">Humidité</div>
        <div class="text-wrapper-10">Arrosage</div>
        <div class="text-wrapper-11">Température</div>
        <div class="text-wrapper-12">62%</div>
        <div class="text-wrapper-13">18 - 24 C</div>
        <img class="droplet-2" src="img/droplet-5.svg" />
        <img class="droplet-3" src="img/droplet-6.svg" />
        <img class="droplet-fill-2" src="img/droplet-fill-3.svg" />
        <div class="text-wrapper-14">Aubergine</div>
        <p class="text-wrapper-15">
          L’aubergine préfère un sol riche et bien drainé, avec un bon ensoleillement et un arrosage modéré.
        </p>
        <div class="frame-3"></div>
        <div class="text-wrapper-16">Humidité</div>
        <div class="text-wrapper-17">Arrosage</div>
        <div class="text-wrapper-18">Température</div>
        <div class="text-wrapper-19">50%</div>
        <div class="text-wrapper-20">18 - 24 C</div>
        <img class="droplet-4" src="img/droplet-7.svg" />
        <img class="droplet-5" src="img/droplet-8.svg" />
        <img class="droplet-fill-3" src="img/droplet-fill-4.svg" />
        <div class="text-wrapper-21">Basilic</div>
        <p class="text-wrapper-22">
          Le basilic aime un sol léger et bien drainé, un ensoleillement direct et un arrosage modéré.
        </p>
        <img class="bouton-arrosage" src="img/bouton-arrosage.svg" />
        <div class="arrow-down-wrapper"><img class="arrow-down" src="img/arrow-down-3.svg" /></div>
        <div class="iphone-XS-bars">
          <div class="action"><div class="time">9:41</div></div>
          <div class="container">
            <div class="battery"><div class="rectangle-2"></div></div>
            <img class="combined-shape" src="img/combined-shape.svg" />
            <img class="wi-fi" src="img/wi-fi.svg" />
          </div>
        </div>
        <div class="group-2">
          <div class="rectangle-3"></div>
          <img class="vector-2" src="img/image.svg" />
        </div>
        <div class="group-3">
          <div class="rectangle-4"></div>
          <img class="vector-2" src="img/vector.svg" />
        </div>
      </div>
    </div>
  </body>
</html>