<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Bacs de Culture</title>
    <link rel="stylesheet" href="static/bac.css" />
    <link rel="stylesheet" href="static/global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <main class="bac-container">
        <section class="bac">
            <h1>Bac 1</h1>
            
            <div class="bac-controle">
                <h3>Arrosage automatique</h3>
                <p>Ce mode permet un arrosage automatique en cas d'absence et s'adapte aux besoins des plantes présentes dans le bac.</p>
            </div>
            
            <div class="plante">
                <h2>Tomate</h2>
                <div class="plante-details">
                    <div class="mesures">
                        <div class="humidite">
                            <span>Humidité</span>
                            <strong>55%</strong>
                        </div>
                        <div class="temperature">
                            <span>Température</span>
                            <strong>18 - 24 C</strong>
                        </div>
                    </div>
                    <p>La tomate est une plante facile à cultiver dans un potager, appréciant les sols riches et bien ensoleillés.</p>
                </div>
            </div>
            
            <div class="autres-plantes">
                <!-- Les autres plantes seront chargées dynamiquement -->
            </div>
            
            <div class="navigation">
                <a href="#" class="navigation-arrow" id="prev-bac">&#10094;</a>
                <a href="#" class="navigation-arrow" id="next-bac">&#10095;</a>
            </div>
        </section>
    </main>
    
    <script src="{{ url_for('static', filename='js/bacs-navigation.js') }}"></script>

    <div class="group-wrapper">
        <div class="group-8">
          <a href="{{ url_for('info.index') }}"><img class="loupe" src="static/images/loupe.png" /></a>
          <a href="{{ url_for('accueil.accueil') }}"><img class="map" src="static/images/map.png" /></a>
          <a href="{{ url_for('defis.defis') }}"><img class="resultats" src="static/images/re-sultats.png" /></a>
        </div>
    </div>
</body>
</html>