<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/defis.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
    <style>
      /* Style inline pour les barres de progression */
      {% for user in top_users %}
        #user-{{ user[0] }}-bar {
          width: {{ user[3] }}%;
        }
      {% endfor %}

      
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Défis</h1>
      
      <!-- Podium pour les 3 premiers -->
      <div class="podium">
        {% if podium_users|length > 1 %}
        <div class="podium-place second-place">
          <div class="user-name">{{ podium_users[1][2] }}</div>
          
          <div class="score">{{ podium_users[1][3] }}%</div>
          <div>2</div>
        </div>
        {% endif %}
        
        {% if podium_users|length > 0 %}
        <div class="podium-place first-place">
          <div class="user-name">{{ podium_users[0][2] }}</div>
          
          <div class="score">{{ podium_users[0][3] }}%</div>
          <div>1</div>
        </div>
        {% endif %}
        
        {% if podium_users|length > 2 %}
        <div class="podium-place third-place">
          <div class="user-name">{{ podium_users[2][2] }}</div>
         
          <div class="score">{{ podium_users[2][3] }}%</div>
          <div>3</div>
        </div>
        {% endif %}
      </div>
    
      <!-- Version pour le classement des 5 meilleurs -->
      <h2>Classement</h2>

      {% for user in top_users %}
      <div class="user-container">
        <a href="{{ url_for('progression.user_progression', user_id=user[0]) }}" class="user-link">
          <div class="user-name">{{ loop.index }}. {{ user[2] }} {{ user[1] }}</div>
        </a>
        <div class="progress-container">
          <div class="progress-bar" style="width: {{ user[3] }}%;"></div>
        </div>
        <div class="score">{{ user[3] }}%</div>
      </div>
      {% endfor %}

      <a href="/maprogression" class="btn btn-primary">Ma progression</a>

    </div>



    <div class="group-wrapper">
      <div class="group-8">
          <a href="{{ url_for('info.index') }}">
              <img class="loupe" src="static/images/loupe.png" />
          </a>
          <a href="{{ url_for('accueil.accueil') }}">
              <div class="map-wrapper">
                  <img class="map" src="static/images/map.png" />
              </div>
          </a>
          <a href="{{ url_for('defis.defis') }}">
              <img class="resultats" src="static/images/resultats.png" />
          </a>
      </div>
  </div>
  
  </body>
</html>