<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/images/defis.css">
</head>
<body>
    <div class="group-1000000943">
        <div class="rectangle-12"></div>
        <div class="nicolas">Nicolas</div>
        <div class="_90-100">90/100</div>
        <div class="rectangle-13"></div>
        <div class="rectangle-14"></div>
      </div>
      
</body>
</html>