<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/defis.css" />
  </head>
  <body>
    <div class="progression">
      <div class="div">
        <div class="overlap">
          <div class="ellipse"></div>
          <div class="rectangle"></div>
          <div class="text-wrapper">Lilou</div>
          <div class="div-2"></div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">50/100</div>
          <div class="rectangle-3"></div>
          <div class="timeo">Nicolas</div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-3">40/100</div>
        </div>
        <div class="overlap-group">
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="rectangle-6"></div>
              
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-4">Nicolas</div>
                  <div class="text-wrapper-5">90/100</div>
                  <div class="div-2"><div class="rectangle-7"></div></div>
                </div>
              </div>
              <div class="text-wrapper-6">25%</div>
            </div>
            <div class="overlap-4">
              
              <div class="rectangle-8"></div>
              <div class="text-wrapper-7">Carole</div>
              <div class="text-wrapper-8">50%</div>
            </div>
            <div class="div-wrapper"><div class="text-wrapper-9">90%</div></div>
          </div>
          <div class="text-wrapper-10">Lilou</div>
         
        </div>
        <div class="overlap-5">
          <div class="text-wrapper-11">Nicolas</div>
          <div class="overlap-6">
            <div class="text-wrapper-12">Défis</div>
            
          </div>
        </div>
        <div class="overlap-7">
          <div class="text-wrapper">Carole</div>
          <div class="text-wrapper-13">80/100</div>
          <div class="div-2"><div class="rectangle-9"></div></div>
        </div>
        <div class="overlap-8">
          <div class="text-wrapper">Gaetan</div>
          <div class="div-2"><div class="rectangle-10"></div></div>
          <div class="text-wrapper-14">20/100</div>
        </div>
        <div class="overlap-9">
          <div class="text-wrapper">Tristant</div>
          <div class="div-2"><div class="rectangle-11"></div></div>
          <div class="text-wrapper-13">15/100</div>
        </div>
       
        <div class="overlap-10">
          <img class="vector-2" src="img/vector-2.svg" />
          <img class="vector-3" src="img/image.svg" />
          <img class="vector-4" src="img/vector-3.svg" />
        </div>
        
        <div class="overlap-wrapper">
          <div class="overlap-11">
            <div class="group-6"></div>
            <img class="group-7" src="static/images/profil.svg" />
          </div>
        </div>
        <div class="rectangle-12"></div>
        <div class="ellipse-2"></div>
        
         
          <div class="container">
            
            
          </div>
        </div>
        <div class="group-wrapper">
          <div class="group-8">
            <img class="loupe" src="static/images/loupe.png" />
            <img class="map" src="static/images/map.png" />
            <img class="resultats" src="static/images/re-sultats.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>