<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/maprogression.css" />
  </head>
  <body>
    <div class="prog-perso">
      <div class="div">
        <div class="overlap-2">
          <div class="text-wrapper-3">Ma progression</div>
          <div class="parametre">
            <div class="overlap-group-2">
              <div class="ellipse-3"></div>
              <img class="ecrou" src="static/images/ecrou.png" />
            </div>
          </div>
        </div>

        <div class="overlap">
          <div class="rectangle"></div>
          <div class="ellipse"></div>
          <div class="group">
            <div class="group-2">
              <img class="map" src="static/images/map.png" />
              <img class="resultats" src="static/images/re-sultats.png" />
            </div>
          </div>
          <img class="loupe" src="static/images/loupe.png" />
        </div>

        <div class="overlap-group">
          <div class="ellipse-2"></div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper">Nombre total de points</div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <img class="group-3" src="static/images/profil.svg" />
          <div class="text-wrapper-2">{{ progression.progression_generale }}/100</div>
          <div class="overlap-wrapper">
            <div class="star-wrapper"><img class="star" src="static/images/etoile.png" /></div>
          </div>
        </div>

        <div class="overlap-3">
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-4">{{ progression.progression_arrosage }}/100</div>
          <div class="overlap-group-wrapper">
            <div class="img-wrapper"><img class="star-2" src="static/images/etoile.png" /></div>
          </div>
        </div>
        <div class="text-wrapper-5">Arrosage</div>

        <div class="overlap-4">
          <div class="rectangle-5"></div>
          <div class="rectangle-7"></div>
          <div class="text-wrapper-4">{{ progression.progression_desherbage }}/100</div>
          <div class="overlap-group-wrapper">
            <div class="overlap-5"><img class="star-2" src="static/images/etoile.png"/></div>
          </div>
        </div>
        <div class="text-wrapper-6">Désherbage</div>

        <div class="overlap-6">
          <div class="text-wrapper-7">Nombre d'heures passées</div>
          <div class="overlap-7">
            <div class="rectangle-8"></div>
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="text-wrapper-8">{{ progression.heures_passees }}/100</div>
            <div class="group-4">
              <div class="overlap-8"><img class="star-2" src="static/images/etoile.png" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>