<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="static/parametre.css" />
  </head>
  <body>
    <div class="paramtres">
      <div class="div">
        <div class="general-section">
          <div class="general">Général</div>
          <div class="group">
            <img class="vector" src="static/images/ligne.svg" />
            <div class="group-2">
              <div class="english">Français</div>
              <div class="language">Langue</div>
            </div>
          </div>
          <div class="group-3">
            <div class="contact-us-wrapper"><div class="contact-us">Nous Contacter</div></div>
            <img class="vector" src="static/images/ligne.svg" />
          </div>
          <div class="group-4">
            <div class="my-profile-wrapper"><div class="my-profile">Mon Profil</div></div>
            <img class="vector" src="static/images/ligne.svg" />
          </div>
        </div>
        <div class="tab-bar"><div class="settings">Paramètres</div></div>
        <div class="bouton-retour"><img class="arrow-down" src="static/images/bouton_retour.png" /></div>
        
          </div>
        </div>
      </div>
    </div>
  </body>
</html>