<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="static/images/scan.css">
</head>
<body>
    <button class="back-button">&#8592;</button>
   <!-- ARRONDIR LES BORDS + REDUIRE LA TAILLE + CENTRER -->
   <img src="static/images/fleur.jpeg" alt="Image d'une fleur">

   <!-- POUR L'INSTANT C'EST DU TEXTE, IL FAUDRA METTRE LE LOGO SCAN -->
   <button onclick="rediriger()">Voir les informations</button>

   <nav>
    <button class="nav-btn btn-1"><img src="static/images/loupe.png" alt="Icone 1"></button>
    <button class="nav-btn btn-2"><img src="static/images/map.png" alt="Icone 2"></button>
    <button class="nav-btn btn-3"><img src="static/images/résultats.png" alt="Icone 3"></button>
</nav>

   <script>
       function rediriger() {
           window.location.href = "scan_info.html"; // Remplace "scan_info.html" par la page cible
       }
   </script>
</body>
</html>
