<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
</head>
<body>
    <!-- FAIRE LA COULEUR BACKGROUND -->

    <!-- ARRONDIR LES BORDS + REDUIRE LA TAILLE + CENTRER -->
    <img src="static/images/fleur.jpeg" alt="Image d'une fleur">

    <!-- POUR L'INSTANT C'EST DU TEXTE, IL FAUDRA METTRE LE LOGO SCAN -->
    <button onclick="rediriger()">Voir les informations</button>

    <script>
        function rediriger() {
            window.location.href = "scan_info.html"; // Remplace "info.html" par la page cible
        }
    </script>

    <!-- BARRE DE NAVIGATION, A FAIRE PLUS TARD -->
</body>
</html>
