<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
</head>
<body>
    <h1>Scanner de Plantes</h1>
    
    <img src="static/images/fleur.jpeg" alt="Image d'une fleur" id="image-display" style="max-width: 100%; height: auto;">

    <!-- Formulaire pour uploader l'image -->
    <form action="/scan_info" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Analyser la plante</button>
    </form>
</body>
</html>
